%p= t(:title), email: @resource.email, scope:[:devise,:mailer,:reset_password_instructions]
%p= t :notice_change_password, scope:[:devise,:mailer,:reset_password_instructions]
%p= link_to t (:change_password,scope:[:devise,:mailer,:reset_password_instructions]), edit_password_url(@resource, reset_password_token: @token)
%p= t :notice_not_change_password,scope:[:devise,:mailer,:reset_password_instructions]

