%footer.footer
  %small
    The
    %a{href:"#"}
    =t(:rails)
    by
    %a{href:"#"}
    =t(:author)
  %nav
    %ul
      %li
        = link_to t(:about),"#"
      %li
        = link_to t(:contact), "#"
      %li
        %a{href:"http://news.railstutorial.org"}=t(:news)
